body{
background-color: transparent;
padding: 1%;
margin-top: 0cm;
}

textarea {
  text-transform: uppercase;
  resize: none;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: rgba(206, 70, 111, 0.548) 2px solid; 
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
}

#Cifrar{
 padding: 10px;
  font-weight: 50;
  font-size: 15px;
  color: #ffffff;
  background-color: #e40456dc;
  border-radius: 6px;
}

#Cifrar:hover {
background-color:#333333;
}

#inicio{
  padding: 10px;
  font-weight: 10;
  font-size: 15px;
  color: #ffffff;
  background-color: #e40456dc;
  border-radius: 6px;
  margin-top: 48%;
  margin-left: 25%;
  }

#Descifrar{
padding: 10px;
font-weight: 50;
font-size: 15px;
color: #ffffff;
background-color: #e40456dc;
border-radius: 6px;
}
#Decifrar:hover {
background-color:#333333;
}

.grilla {
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 2%;
}

#botones{
display: inline-flex;
grid-template-columns: 33% 33%;
text-align: right;
}

.super {
  display: center;
  text-align: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

#eliminar {
padding: 10px;
font-weight: 80;
font-size: 15px;
color: #ffffff;
background-color: #e40456dc;
border-radius: 6px;
}

#eliminar:hover {
background-color:#333333;
}

h2{
    text-align: center;
    font-family: sans-serif;
    color:#292626;  
}

p {
  font-family: sans-serif;
  color:#292626; 
  }
  .desplazar{
      width: 8%;
  }

 .pie{
  text-align: center;
  font-family: sans-serif;
  color:#292626;

}

#regreso {
text-decoration: none;
font-family: sans-serif;
font-weight: 80;
font-size: 20px;
color: #e40456dc;
background-color: transparent;
}

#secundario{
  display: none;
}

#principal{
  background-image: url("./imagenes/banner.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh
      
}

  