body{
background-color: transparent;
}
textarea {
  text-transform: uppercase;
  resize: none;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: rgba(207, 5, 66, 0.548) 2px solid; 
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
}
#Cifrar{
 padding: 10px;
  font-weight: 50;
  font-size: 20px;
  color: #ffffff;
  background-color: #e40456dc;
  border-radius: 6px;
}

#Cifrar:hover {
background-color:#333333;
}

#Decifrar{
padding: 10px;
font-weight: 50;
font-size: 20px;
color: #ffffff;
background-color: #e40456dc;
border-radius: 6px;
}
#Decifrar:hover {
background-color:#333333;
}

.grilla {
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 2%;
}
#botones{
display: inline-flex;
grid-template-columns: 33% 33%;
text-align: right;
}
.super {
  display: center;
  text-align: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}
#eliminar {
padding: 10px;
font-weight: 80;
font-size: 20px;
color: #ffffff;
background-color: #e40456dc;
border-radius: 6px;
}
#eliminar:hover {
background-color:#333333;
}
h2{
    text-align: center;
    font-family: sans-serif;
}
p {
  font-family: sans-serif;
  }
  .desplazar{
      width: 5%;
  }
  .pie{
    border: 2px color royalblue;
    text-align: center;
    font-family: sans-serif;
}
